## Input指令

In [1]:
a = input("a =")

a =87

### input可以與使用者增加互動，注意輸入的東西電腦會認為是字串

In [2]:
a

'87'

## 匯率換算

In [5]:
m = input("美金價格: ")

美金價格: 120

In [6]:
m

'120'

In [7]:
m * 30.5

TypeError: can't multiply sequence by non-int of type 'float'

### 如何將字串變成數字

In [8]:
float(m) * 30.5

3660.0

In [11]:
m = input("美金價格: ")
twd = float(m) * 30.5
print(twd)

美金價格: 300
9150.0

In [12]:
twd

9150.0

In [13]:
"合台幣" + twd + "元"

TypeError: can only concatenate str (not "float") to str

In [14]:
m = input("美金價格: ")
twd = float(m) * 30.5
print("合台幣" + str(twd) + "元")

美金價格: 300
合台幣9150.0元

## 拍拍機器人

In [15]:
message = input(">>")
print("拍拍")

>>今天很難過。
拍拍

In [16]:
message = input(">>")
print("拍拍")

>>寫程式不太順利。
拍拍